{deps,
    [
        {lager,            ".*", {git, "ssh://git@gitlab.favorit/erlang/lager",              {branch, "master"}}},
        {logger2,          ".*", {git, "ssh://git@gitlab.favorit/erlang/logger2",            {branch, "master"}}}
    ]
}.

{deps_dir, ["deps"]}.
{erl_opts, [inline, {src_dirs, ["src"]}, {d,  multi_logger, true}]}.
{edoc_opts, [{packages, false}]}.
